ul.admincp_list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}
ul.admincp_list li {
    float: left;
    margin: 10px;
}
.clear{
    clear: both;
}
h3.title_admin {
    text-align: center;
    font-size: 40px;
    color: blue;
}
.wrapper {
    border: 1px solid #000;
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}